
<nav class="navbar navbar-default" id="nav">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="/" class="navbar-brand">CravedFoods</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                {{# if login }}
                    
                {{#if admin}}

                    <li class="dropdown"></li>

                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user" aria-hidden="true"></i> Admin Menu<span class="caret"></span></a>
                    <ul class="dropdown-menu">

                    <li><a href="/admin/modify-item">Modify Menu</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="/admin/vieworders">View Orders</a>
                    </li>

                {{ else }}

                    <li>
                        <a href="api/shopping-cart/">
                            <i class="fa fa-shopping-cart" aria-hidden="true"></i> Food Cart
                            <span class="badge">{{session.cart.totalQty}}</span>
                        </a>
                    </li>
                    <li><a href="/api/user/profile">User Profile</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="/api/user/myorders">My Orders</a></li>

                {{/if}}

                    <li role="separator" class="divider"></li>
                    <li><a href="/user/logout">Logout</a></li>
                      
            {{ else }}

                <li>
                    <a href="/shopping-cart/">
                        <i class="fa fa-shopping-cart" aria-hidden="true"></i> Food Cart
                        <span class="badge">{{session.cart.totalQty}}</span>
                    </a>
                </li>

                <li class="dropdown">

            {{#if isLogged }}
                <li><a href="/api/user/register">Register</a></li>
                <li><a href="/api/user/login">Login</a></li>
                {{else}}
                
                    <li><a href="/api/user/profile">User Profile</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="/api/user/myorders">My Orders</a></li>


                    <li role="separator" class="divider"></li>
                    <li><a href="/api/user/logout">Logout</a></li>
            {{/if}}
            {{/if}}

                    </ul>
                </li>
            </ul>
        </div>
    </div>  
</nav>